p::first-line {
    color: purple;
    font-size: 26px;
    font-weight: 600;
}
p::first-letter {
    font-size: 50px;
    color: red;
}

li {
    list-style-type: none;
    position: relative;
}
li::before {
    content: '';
    display: block;
    width: 15px;
    border: 1px solid purple;
    position: absolute;
    left: -25px;
    top: 8px;
    transform: rotate(45deg);
}
li::after {
    content: '';
    display: block;
    width: 15px;
    border: 1px solid purple;
    position: absolute;
    left: -25px;
    bottom: 8px;
    transform: rotate(130deg);
}
section {
    height: 800px;
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}